.verocard {
    margin-top: 5px;
    border-radius: 15px;
    max-height: 250px;
    font-family: Exo2, sans-serif;
    font-size: large;
    background-color: white;
}

.menu {
    border-radius: 15px;
    border-left: 4px solid #36b9cc;
    background-color: white;
    box-shadow: 3px 3px 4px 2px #cacaca9d;
    margin: 0.25%;
    width: 100%;
    height: 100%;
}

.titolocontainer {
    font-family: Exo2, sans-serif;
    font-size: large;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 4px 2px #cacaca9d;
}

.tiny-btn {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}

.titolo {
    font-family: Exo2, sans-serif;
    font-size: large;
}

.carta {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 2px 1px #cacaca9d;
}

.card-text {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bottoni {
    font-size: medium;
}

.btn-info {
    color: #fff;
    background-color: #36b9cc;
    border-color: #36b9cc;
}

@font-face {
    font-family: Exo2;
    src: url(./Fonts/Exo2/Exo2-VariableFont_wght.ttf);
}
