
.verocard{
    margin-top: 5px;
    border-bottom: 1px solid #ccc;
    border-radius: 15px;
    max-height: 245px;
    font-family: Exo2, sans-serif;
    font-size: large;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu {
    border-radius: 15px;
    border-left: 4px solid #2243a0;
    background-color: white;
    box-shadow: 3px 3px 4px 2px #cacaca9d;
    margin: 0.25%;
    max-height: 300px;
}

.titolocontainer {
    font-family: Exo2, sans-serif;
    font-size: large;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 4px 2px #cacaca9d;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tiny-btn {
    display: inline-block;
    margin-left: 10px;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
}

.titolo {
    font-family: Exo2, sans-serif;
    font-size: large;
    display: inline-block;
    margin-left: 40px;
}

.carta {
    text-align: left;
    flex-direction: left;
    justify-content: left;
    align-items: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 2px 1px #cacaca9d;
}

.card-text {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bottoni {
    flex-direction: auto;
    font-size: medium;
}

@font-face {
    font-family: Exo2;
    src: url(./Fonts/Exo2/Exo2-VariableFont_wght.ttf);
}
