@font-face {
    font-family: Exo2;
    src: url(./Fonts/Exo2/Exo2-VariableFont_wght.ttf);
}

.react-calendar {
    border: 0px;
    border-left: 4px solid #2243a0;
    border-radius: 10px;
    font-family: Exo2, sans-serif;
    font-size: large;
    background-color: white;
    box-shadow: 3px 3px 4px 2px #cacaca9d;
    padding: 5px;
}

.react-calendar__tile--now {
    background: #36b9cc;
    border-radius: 10px;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #4e73df;
    border-radius: 10px;
}

.react-calendar__tile--hasActive {
    background: #36b9cc;
    border-radius: 10px;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #224abe;
    border-radius: 10px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    border-radius: 10px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    border-radius: 10px;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    border-radius: 10px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled {
    background: #224abe;
    border-radius: 10px;
}
