@font-face {
    font-family: Exo2;
    src: url(./Fonts/Exo2/Exo2-VariableFont_wght.ttf);
}

.Dettagli-prenotazione {
    font-family: Exo2, sans-serif;
    width: 60%;
    border-radius: 15px;
    border-left: 4px solid #36b9cc;
    background-color: white;
    box-shadow: 3px 3px 4px 2px #cacaca9d;
    font-size: medium;
}
.colore {
    color: #36b9cc;
}
.Title {
    color: #36b9cc;
}
.Dettagli-label {
    font-weight: bold;
}

.Dettagli-columns {
    display: flex;
}

.Dettagli-column {
    flex: 1;
    margin-right: 20px;
}
